html
body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif

  #app
    padding-top: 40px

header
  position: fixed
  z-index: 10
  height: 40px
  left: 0
  top: 0
  background: #000
  width: 100%
  color: #fff
  font-size: 13px
  line-height: 40px

  a
    color: #fff
    text-decoration: none

.backBtn
  position: absolute
  width: 30px
  text-align: center
  line-height: 35px
  font-weight: bold
  font-size: 20px
  left: 0
  top: 0


.logo
  font-weight: bold
  text-align: center
  line-height: 40px

.user-info
  float: right

.map
  position: absolute
  right: 10px
  top: 0
  height: 40px
  line-height: 40px
  z-index: 3
  cursor: pointer

.route
  display: block
  font-size: 12px
  color: #000
  text-decoration: none
  padding: 10px
  position: relative

  &__author
    margin-left: 10px

  &__name
    text-transform: uppercase
    font-size: 15px

  &__modified
    position: absolute
    right: 10px
    top: 10px

  &__heart
    position: absolute
    right: 10px
    bottom: 7px

.v
  height: 200px
  text-align: center
  position: relative
  color:#fff

  &:before
    content: ""
    position: absolute
    left:0
    top:0
    bottom: 0
    right:0
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%)

.vName
  position: absolute
  top:30px
  font-size: 23px
  font-weight: bold
  left:00px
  padding: 5px 10px
  background: rgba(0, 0, 0, 0.8)
  text-align: center

.vRating
  position: absolute
  right: 0
  bottom:10px
  padding: 4px 6px
  background: rgba(0, 0, 0, 0.8)
  font-size: 10px

  &__num
    font-size: 16px

.vHereNow
  position: absolute
  left: 10px
  bottom: 10px

.checkinBtn
  position: absolute
  right:0
  top:0
  background: rgba(0, 0, 0, 0.8)
  padding: 5px
  font-size: 12px
  cursor: pointer

  &:before
    content: ''
    position: absolute
    top: 100%
    right: 0
    width: 0
    height: 0
    border-style: solid
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent

  img
    width: 40px
    opacity: 0.7

#mapCanvas
  position: relative
  width: 100%
  height: 300px

a[href^="http://maps.google.com/maps"]
  display:none !important

.gmnoprint a
.gmnoprint span
  display:none

.gmnoprint div
  background:none !important
