doctype html
html(lang="en")
    head
        title Pub Crawl
        meta(content='initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1,width=device-width',name='viewport')
        script(src='http://yandex.st/jquery/2.1.1/jquery.js')
        script(src='http://maps.googleapis.com/maps/api/js?v=3.9&key=AIzaSyBZkK01hng-ry6tdmzBHkfOFKCHgVHxdH0&sensor=true')
        link(rel='stylesheet', href='/static/css/main.css')
        script.
            var pc = pc || {};
            pc.user = !{user.id};
    body
        #app
        #sidebar
        script(src='/static/js/bundle.js')
