doctype html
html(lang="en")
    head
        title Pub Crawl
        script(src='http://fb.me/react-0.12.2.js')
        script(src='http://yandex.st/jquery/2.1.1/jquery.js')
        script(src='static/bower_components//vow/lib/vow.js')
        script(src='http://maps.googleapis.com/maps/api/js?v=3.9&key=AIzaSyBZkK01hng-ry6tdmzBHkfOFKCHgVHxdH0&sensor=true')
        link(rel='stylesheet', href='static/css/main.css')
    body
        #app
        script(src='static/bower_components/react-router/build/global/ReactRouter.js')
        script(src='static/build/router.js')
        script(src='static/build/tmpl.js')
        script(src='static/js/viewer.js')